  <header>
    <img src="../../assets/imagens/logo-jallalla.png" alt="Logo Jallalla">
    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="#">A Criadora</a></li>
            <li><a href="#">Serviços Oferecidos</a></li>
            <li><a href="#">Rede Jallalla</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contato</a></li>
            <li class="language-switcher">
                <button id="language-btn">🌐</button>
                <ul class="language-dropdown">
                    <li><a href="/pt/" data-lang="pt">PT</a></li>
                    <li><a href="/esp/" data-lang="es">ESP</a></li>
                    <li><a href="/eng/" data-lang="en">ENG</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>